@model ChartViewModel

<div class="col-6">
    <div class="card shadow-sm mb-4">
        <div class="card-header">
            <h5 class="card-title mb-0">
                <i class="@Model.IconClass me-2"></i> @Model.ChartTitle
            </h5>
        </div>
        <div class="card-body">
            <canvas id="@Model.ChartId" height="200"></canvas>
        </div>
    </div>
</div>
 